.redirect{
    width: 190px;
    height: 40px;
    border-radius: 6px;
    border: none;
    margin-left: 60px;
    margin-top: 10px;
    font-size: 20px;
    background-color: #d63b0c;
    color: #ffffff;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
}
.redirects{
    width: 190px;
    height: 40px;
    border-radius: 6px;
    border: none;
    margin-left: 60px;
    margin-top: 10px;
    font-size: 20px;
    background-color: #d63b0c;
    color: #ffffff;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
}

.blogBody{
    font-size: 15px;
    max-width: 90rem;
    line-height: 30px;
    margin-left: 35px;
    margin-bottom: 35px;
   
}

.blogTitle{
    text-align: center;
    margin-top: 30px;
}

.blogCategory{
    text-align: center;
    margin-bottom: 20px;
}
.blogAuthor{
    text-align: center;
    
}