*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
    
.footercontainer{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF ;
    height: 60vh;
}

.newsletter{
    text-align: center;
    margin-top: 20px;
}

.news{
    font-size: 35px;
    margin-left: -110px;
    color: #1A1A2E;
}

.emailinput{
    padding: 10px;
    font-size: 18px;
    height: 45px;
    width: 350px;
    border-radius: 7px;
    border: none;
    margin-top: 10px;
    border: 1px bold#1A1A2E;
    color: #6B7280;
}

.btn{
    font-size: 20px;
    width: 140px;
    height: 43px;
    border: none;
    border-radius: 6px;
    background-color: #1A1A2E;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 10px;
}

.btn:hover{
    color: #F5A623;
}

.footerrow{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.quicklinks{
    display: flex;
    flex-direction: column;
}

.Lname{
    font-size: 30px;
    color: #1A1A2E;
}

.link{
    font-size: 20px;
    text-decoration: none;
    color: #F5A623;
    line-height: 25px;
    margin-left: 35px;
}

.link:hover{
    text-decoration: underline;
    color: #E09112;
}

.linkcontainer {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.linkcontainer a{
    color: #F5A623;
}

.linkcontainer a:hover{
    color:  #E09112;
}

.contacts p{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    color: #F5A623;
}

.contacts p:hover{
    color:  #E09112;
}


.bottomstrip{
    justify-content: center;
    display: flex;
    margin-top: 80px;
    font-size: 18px;
    cursor: pointer;
}

.bottomstrips{
    color: #1A1A2E;
}