*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    text-decoration: none;
}

.navContainer{
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    background-color: #1A1A2E;
    margin: 0px;
    height: 100px;
}

.webName{
    color: #FFFFFF;
    font-size: 2.5rem;
}   

.links{
    display: flex;
    gap: 25px;
    font-size: 1.3rem;
    text-align: center;
}

.links a{
    color: #FFFFFF;
    font-weight: 530;
}
.links a:hover{
    color: #E09112;
}

.links a:active{
  color: #F5A623;  
}

select{
    height: 30px;
    width: 140px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    padding: 3px;
}

.logoutBtn{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    color:  #FFFFFF;
    background-color:  #1A1A2E;
}

.logoutBtn:hover{
    color: #F5A623;
}

